<app-header-carousel  [slides]="slides" [contentOffsetToTop]="false" [fullscreen]="false"></app-header-carousel>

<div class="section default mt-3">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">Special menu</h1>
      <p class="section-desc text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <app-menu-items-carousel [menuItems]="pizza"></app-menu-items-carousel>
      <div fxLayout="row" fxLayoutAlign="center center">
        <a
          mat-raised-button
          routerLink="/menu"
          color="primary"
          class="uppercase"
          >View all menu</a
        >
      </div>
    </div>
  </div>
</div>

<div class="section default mt-3">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">Our best dishes</h1>
      <p class="section-desc text-muted">
        The best dishes of the city for our clients.
      </p>
      <app-menu-items-carousel [menuItems]="pizza"></app-menu-items-carousel>
      <div fxLayout="row" fxLayoutAlign="center center">
        <a
          mat-raised-button
          routerLink="/menu"
          color="primary"
          class="uppercase"
          >View all menu</a
        >
      </div>
    </div>
  </div>
</div>
<div class="section default mt-3">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">Pizza</h1>
      <p class="section-desc text-muted">
        The best Pizza of the city for our clients.
      </p>
      <app-menu-items-carousel [menuItems]="pizza"></app-menu-items-carousel>
    </div>
  </div>
</div>
